<IfModule mod_php.c>
    php_value session.cookie_lifetime 0
    php_value session.use_only_cookies 1
</IfModule>

<IfModule mod_php7.c>
    php_value session.cookie_lifetime 0
    php_value session.use_only_cookies 1
</IfModule>

<IfModule mod_php8.c>
    php_value session.cookie_lifetime 0
    php_value session.use_only_cookies 1
</IfModule>
